[project]
	description = Assad communication
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Olga Klochkova (PaniHelga)
[access "refs/for/refs/*"]
	read = group user/Olga Klochkova (PaniHelga)
	push = group user/Olga Klochkova (PaniHelga)
	label-Code-Review = -2..+2 group user/Olga Klochkova (PaniHelga)
	label-Verified = -1..+1 group user/Olga Klochkova (PaniHelga)
	rebase = group user/Olga Klochkova (PaniHelga)
	removeReviewer = group user/Olga Klochkova (PaniHelga)
	submit = group user/Olga Klochkova (PaniHelga)
[access "refs/heads/*"]
	read = group user/Olga Klochkova (PaniHelga)
	create = group user/Olga Klochkova (PaniHelga)
	push = +force group user/Olga Klochkova (PaniHelga)
	pushMerge = group user/Olga Klochkova (PaniHelga)
[access "refs/tags/*"]
	push = +force group user/Olga Klochkova (PaniHelga)
	pushTag = group user/Olga Klochkova (PaniHelga)
	pushSignedTag = group user/Olga Klochkova (PaniHelga)
